@model IEnumerable<Category>

@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("Details", "Category", new {cateId = item.Id})">
            <span class="menu-text">@item.Name</span>
        </a>
    </li>
}