
@{
    ViewBag.Title = "CheckoutSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="text-align:center;padding:100px"><h2>CheckoutSuccess </h2><i style="font-size:20px">Thank you, see you soon !</i></div>


