@{
    ViewBag.Title = "Contact";
}



<div class="container" style="padding:100px 15px">
    <div class="row">
       
            <h2>@ViewBag.Title our company</h2>
            <h6>Email : <b>maihaiduong2015@gmail.com</b></h6>
            <h6>Phone : <b><i>+84 8888 66546</i></b></h6>
            <h6>Address : 250 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội.</h6>
        
    </div>

</div>